<%
const pagePath = '.',
pageSlug = '',
pageMeta = {
  title:'JRA×TCK #感動をよくばれキャンペーン',
  description:'JRAと東京シティ競馬（TCK）のコラボレーションキャンペーン。対象レースの馬券を500円以上購入すると抽選でデジコが当たる！両方購入でWチャンスも。',
  descriptionTwitter:'JRAと東京シティ競馬の対象レース馬券購入で抽選でデジコが当たる！両方購入でWチャンス！',
  keywords:'JRA,TCK,東京シティ競馬,競馬,キャンペーン,日本ダービー,東京ダービー,宝塚記念,帝王賞,有馬記念,ホープフルステークス,東京大賞典,デジコ'
}
%>
<%- include(pagePath + '/inc/_header' , { pagePath: pagePath, pageSlug: pageSlug, pageMeta: pageMeta }) %>
<main>
  <div class="p-jra-tck-op js-animation is-hidden">
    <div class="p-jra-tck-op__bg"></div>
    <div class="p-jra-tck-op__wrap">
      <div class="p-jra-tck-op__left">
        <p class="p-jra-tck-op__pic--left"><img src="./assets/images/icon/icon-haeder-logo-pc.svg" alt="TCK 東京シティ競馬"></p>
        <p class="p-jra-tck-op__pic--left-bottom"><img src="./assets/images/img-text-pc-left-01.png" alt="6.1SUN 15:40[G1] 日本ダービー"></p>
      </div>
      <div class="p-jra-tck-op__center">
        <p class="p-jra-tck-op__pic"><img src="./assets/images/img-fv-center.png" alt="感動をよくばれ"></p>
        <p class="p-jra-tck-op__pic--center-bottom"><img src="./assets/images/img-fv-bottom.png" alt="JRA×TCKコラボキャンペーン"></p>
      </div>
      <div class="p-jra-tck-op__right">
        <p class="p-jra-tck-op__pic--right"><img src="./assets/images/img-fv-copy.png" alt="二つの頂点。二つの伝説。"></p>
        <p class="p-jra-tck-op__pic--right-bottom"><img src="./assets/images/img-text-pc-right.png" alt="6.11 Wed 20:05[JpnI] 東京ダービー"></p>
      </div>
    </div>
  </div>
  
  <div class="p-jra-tck-left u-nosp">
    <div class="p-jra-tck-left__wrap">
      <p class="p-jra-tck-left__text"><img src="./assets/images/img-text-pc-left-02.png" alt="感動をよくばれ"></p>
      <p class="p-jra-tck-left__date"><img src="./assets/images/img-text-pc-left-01.png" alt="6.1SUN 15:40[G1] 日本ダービー"></p>
    </div>
  </div>

  <div class="p-jra-tck-main" id="top">
    <h1 class="p-jra-tck-kv">
      <img src="./assets/images/img-kv.png" alt="感動をよくばれ JRA×TCKコラボキャンペーン">
    </h1>

    <div class="p-jra-tck-fv">
      <div class="p-jra-tck-anchor">
        <ul class="p-jra-tck-anchor__list">
          <li class="p-jra-tck-anchor__item">
            <a href="#campaign01" class="p-jra-tck-anchor__link js-anchor">
              <div class="p-jra-tck-anchor__box">
                <div class="p-jra-tck-anchor__heading">
                  キャンペーン
                  <p class="p-jra-tck-anchor__no--01"><img src="./assets/images/icon/icon-no-01.png" alt="01"></p>
                </div>
                <p class="p-jra-tck-anchor__race">東京ダービー</p>
                <p class="p-jra-tck-anchor__race">日本ダービー</p>
              </div>
            </a>
          </li>
          <li class="p-jra-tck-anchor__item is-disabled">
            <a href="#campaign02" class="p-jra-tck-anchor__link js-anchor">
              <div class="p-jra-tck-anchor__box">
                <div class="p-jra-tck-anchor__heading">
                  キャンペーン
                  <p class="p-jra-tck-anchor__no--02"><img src="./assets/images/icon/icon-no-02.png" alt="02"></p>
                </div>
                <p class="p-jra-tck-anchor__race">帝王賞</p>
                <p class="p-jra-tck-anchor__race">宝塚記念</p>
              </div>
            </a>
          </li>
          <li class="p-jra-tck-anchor__item is-disabled">
            <a href="#campaign03" class="p-jra-tck-anchor__link js-anchor">
              <div class="p-jra-tck-anchor__box">
                <div class="p-jra-tck-anchor__heading">
                  キャンペーン
                  <p class="p-jra-tck-anchor__no--03"><img src="./assets/images/icon/icon-no-03.png" alt="03"></p>
                </div>
                <p class="p-jra-tck-anchor__race">東京大賞典</p>
                <p class="p-jra-tck-anchor__race">有馬記念・<br><span>ホープフル<br>ステークス</span></p>
              </div>
            </a>
          </li>
        </ul>
      </div>

      <%- include(pagePath + '/component/_user-entry')%>

      <section class="p-jra-tck-feature" id="feature">
        <div class="p-jra-tck-feature__inner">
          <h2 class="p-jra-tck-feature__ttl">
            <span><img src="./assets/images/icon/icon-header-logo.png" alt="TCK 東京シティ競馬"></span>
            東京シティ競馬の魅力とは？
          </h2>
          <p class="c-coming-soon-image"><img src="./assets/images/img-comming-soon.png" alt="comming soon"></p>
          <%# <!-- <p class="p-jra-tck-feature__text">都心からアクセスが良く、夜空の下で繰り広げられるレースは幻想的。イベントも豊富で、競馬以外も楽しめるのが東京シティ競馬です！</p>
            <div class="p-jra-tck-feature__accordion">
              <div class="p-jra-tck-feature__accordion-content js-accordion-content">
                <p class="p-jra-tck-feature__accordion-text">
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
              </div>
              <p class="p-jra-tck-feature__btn js-accordion">詳しく見る</p>
            </div> --> %>
        </div>
      </section>
    </div>

    <section class="p-jra-tck-campaign" id="campaign">
      <h2 class="p-jra-tck-campaign__ttl"><img src="./assets/images/img-campaign-ttl.png" alt="JRA×TCK 感動をよくばれキャンペーン"></h2>
      <p class="p-jra-tck-campaign__sup">※当キャンペーンはオンラインでのご応募限定です。</p>
      <p class="p-jra-tck-campaign__pic"><img src="./assets/images/img-campaign.png" alt="Gift"></p>

      <p class="p-jra-tck-campaign__text-heading">
        TCKとJRAのレースのどちらかの馬券を<br>
        <span class="u-color-gold u-font-bold"><span class="u-font-large">500</span>円以上購入</span>すると<br>
        <span class="u-color-gold u-font-bold">抽選で<span class="u-font-large">デジコ</span>が貰える!</span>
      </p>
      <p class="p-jra-tck-campaign__text-bottom">
        <span class="p-jra-tck-campaign__balloon">さらに</span>
        <span class="u-font-large u-color-gold u-font-bold">TCKとJRA、両方購入でWチャンス!!</span><br>
        両方の馬券を500円以上購入した場合は<br>
        金額がアップした抽選に参加可能！
      </p>

      <ul class="c-note">
        <li>当選は1回限りとなります。</li>
        <li>応募対象者は日本国内にお住まいの20歳以上の方に限ります。</li>
        <li>画像はイメージです。仕様変更によりデザインが変更になる場合があります。</li>
        <li>応募にはX・Instagramいずれかのアカウントが必要です。</li>
        <li>本キャンペーンは、X社・Meta社とは一切関係ありません。</li>
        <li>本キャンペーンはX、Instagramを利用して応募データを収集しています。<br>本キャンペーン期間中にX社・Meta社によるAPIの仕様変更に伴い応募データが収集できない事象が発生した場合、それ以降のご応募については無効、または本キャンペーン自体が早期終了となる可能性がございます。あらかじめご了承ください。</li>
      </ul>

      <div class="p-jra-tck-campaign__content" id="campaign01">
        <div class="p-jra-tck-campaign__content-inner">
          <div class="p-jra-tck-campaign__content-heading">
            <span class="u-color-gold">キャンペーン</span>
            <p class="p-jra-tck-campaign__no--01"><img src="./assets/images/icon/icon-no-01.png" alt="01"></p>
          </div>
          <h3 class="p-jra-tck-campaign__race-name">
            <span class="p-jra-tck-campaign__race">東京ダービー</span>
            <span class="p-jra-tck-campaign__race">日本ダービー</span>
          </h3>
          <p class="p-jra-tck-campaign__content-text">
            東京ダービーと日本ダービーの<br>
            レースの「どちらかの馬券」を<br>
            <span class="u-color-gold u-font-bold"><span class="u-font-large">500</span>円以上購入</span>すると<br>
            <span class="u-color-gold u-font-bold">抽選で<span class="u-font-large">80</span>名様に<span class="u-font-large">5,000</span>円分の</span><br>
            <span class="u-color-gold u-font-bold">デジコをプレゼント!</span>
          </p>
          <p class="p-jra-tck-campaign__content-text">
            「両方の馬券」を<span class="u-color-gold u-font-bold"><span class="u-font-large">500</span>円以上購入</span><br>
            すると<span class="u-color-gold u-font-bold">追加抽選の<span class="u-font-large">チャンス！</span></span><br>
            <span class="u-color-gold u-font-bold"><span class="u-font-large">20</span>名様に<span class="u-font-large">10,000</span>円分の</span><br>
            <span class="u-color-gold u-font-bold">デジコをプレゼント!</span>
          </p>    
          <div class="p-jra-tck-campaign__date">
            <h4 class="p-jra-tck-campaign__date-ttl">開催日程</h4>
            <p class="p-jra-tck-campaign__date-ja"><span>日本ダービー</span>：6月1日 (日)</p>
            <p class="p-jra-tck-campaign__date-tokyo"><span>東京ダービー</span>：6月11日 (水)</p>
          </div>
          <div class="p-jra-tck-campaign__period">
            <h4 class="p-jra-tck-campaign__period-ttl">実施期間</h4>
            <p class="p-jra-tck-campaign__period-text">2025年5月31日 (土) 〜6月14日 (土)</p>
          </div>
          <p class="c-btn-shadow--gold is-disabled"><a href="" target="_blank"><span>応募はこちら！</span><img src="./assets/images/img-comming-soon-02.png" alt="COMMING SOON"></a></p>
          <%# <p class="c-btn-shadow--gold is-disabled"><a href="https://form.run/@tck-jra2025campaign" target="_blank"><span>応募はこちら！</span><img src="./assets/images/img-comming-soon-02.png" alt="COMMING SOON"></a></p> %>
        </div>
      </div>
      <div class="p-jra-tck-campaign__content" id="campaign02">
        <div class="p-jra-tck-campaign__content-inner">
          <div class="p-jra-tck-campaign__content-heading">
            <span class="u-color-gold">キャンペーン</span>
            <p class="p-jra-tck-campaign__no--02"><img src="./assets/images/icon/icon-no-02.png" alt="02"></p>
          </div>
          <p class="c-coming-soon-image"><img src="./assets/images/img-comming-soon.png" alt="comming soon"></p>
        </div>
      </div>
      <div class="p-jra-tck-campaign__content" id="campaign03">
        <div class="p-jra-tck-campaign__content-inner">
          <div class="p-jra-tck-campaign__content-heading">
            <span class="u-color-gold">キャンペーン</span>
            <p class="p-jra-tck-campaign__no--03"><img src="./assets/images/icon/icon-no-03.png" alt="03"></p>
          </div>
          <p class="c-coming-soon-image"><img src="./assets/images/img-comming-soon.png" alt="comming soon"></p>
        </div>
      </div>
    </section>

    <section class="p-jra-tck-apply" id="apply">
      <h2 class="p-jra-tck-apply__ttl">キャンペーン応募方法</h2>
      <div class="p-jra-tck-apply__slider-wrap">
        <div class="p-jra-tck-apply__slider js-slider">
          <div class="swiper-wrapper">
            <div class="p-jra-tck-apply__slide swiper-slide">
              <div class="p-jra-tck-apply__slide-inner">
                <p class="p-jra-tck-apply__no--01"><img src="./assets/images/icon/icon-no-01.png" alt="01"></p>
                <p class="p-jra-tck-apply__pic"><img src="./assets/images/img-apply-01.png" alt=""></p>
                <p class="p-jra-tck-apply__text">「応募はこちら」ボタンから応募フォームへ</p>
              </div>
            </div>
            <div class="p-jra-tck-apply__slide swiper-slide">
              <div class="p-jra-tck-apply__slide-inner">
                <p class="p-jra-tck-apply__no--02"><img src="./assets/images/icon/icon-no-02.png" alt="02"></p>
                <p class="p-jra-tck-apply__pic"><img src="./assets/images/img-apply-02.png" alt=""></p>
                <p class="p-jra-tck-apply__text">必要項目(氏名、メールアドレス)を入力後、レース選択をし、購買証明をアップロード</p>
              </div>
            </div>
            <div class="p-jra-tck-apply__slide swiper-slide">
              <div class="p-jra-tck-apply__slide-inner">
                <p class="p-jra-tck-apply__no--03"><img src="./assets/images/icon/icon-no-03.png" alt="03"></p>
                <p class="p-jra-tck-apply__pic"><img src="./assets/images/img-apply-03.png" alt=""></p>
                <p class="p-jra-tck-apply__text">当選者にのみ、キャンペーン事務局よりメールにて賞品の送付をいたします。</p>
              </div>
            </div>
  
          </div>
          <div class="p-jra-tck-apply__nav">
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
  
        </div>
      </div>
      <p class="c-btn--modal"><a href="#modal01" class="js-modal-link"><span>応募規約</span></a></p>
      <p class="c-btn"><a href="#faq" class="js-anchor"><span>よくあるご質問</span></a></p>
    </section>

    <section class="p-jra-tck-schedule">
      <h2 class="p-jra-tck-schedule__ttl">開催日程</h2>
      <dl>
        <div class="p-jra-tck-schedule__wrap">
          <dt class="p-jra-tck-schedule__date"><span>6</span>月<span>1</span>日(日)</dt>
          <dd class="p-jra-tck-schedule__btn">
            <a href="" class="p-jra-tck-schedule__link is-disabled" target="_blank">
              <span class="p-jra-tck-schedule__label--green">JRA</span>
              日本ダービー
            </a>
          </dd>
        </div>
        <div class="p-jra-tck-schedule__wrap">
          <dt class="p-jra-tck-schedule__date"><span>6</span>月<span>11</span>日(水)</dt>
          <dd class="p-jra-tck-schedule__btn">
            <a href="https://www.tokyocitykeiba.com/race/grade_race/2025-06-11/" class="p-jra-tck-schedule__link" target="_blank">
              <span class="p-jra-tck-schedule__label--red">TCK</span>
              東京ダービー
            </a>
          </dd>
        </div>
        <div class="p-jra-tck-schedule__wrap">
          <dt class="p-jra-tck-schedule__date"><span>6</span>月<span>15</span>日(日)</dt>
          <dd class="p-jra-tck-schedule__btn">
            <a href="" class="p-jra-tck-schedule__link is-disabled" target="_blank">
              <span class="p-jra-tck-schedule__label--green">JRA</span>
              宝塚記念
            </a>
          </dd>
        </div>
        <div class="p-jra-tck-schedule__wrap">
          <dt class="p-jra-tck-schedule__date"><span>7</span>月<span>2</span>日(水)</dt>
          <dd class="p-jra-tck-schedule__btn">
            <a href="https://www.tokyocitykeiba.com/race/grade_race/2025-07-02/" class="p-jra-tck-schedule__link" target="_blank">
              <span class="p-jra-tck-schedule__label--red">TCK</span>
              帝王賞
            </a>
          </dd>
        </div>
        <div class="p-jra-tck-schedule__wrap">
          <dt class="p-jra-tck-schedule__date"><span>12</span>月<span>27</span>日(土)</dt>
          <dd class="p-jra-tck-schedule__btn">
            <a href="" class="p-jra-tck-schedule__link is-disabled" target="_blank">
              <span class="p-jra-tck-schedule__label--green">JRA</span>
              ホープフルステークス
            </a>
          </dd>
        </div>
        <div class="p-jra-tck-schedule__wrap">
          <dt class="p-jra-tck-schedule__date"><span>12</span>月<span>28</span>日(日)</dt>
          <dd class="p-jra-tck-schedule__btn">
            <a href="" class="p-jra-tck-schedule__link is-disabled" target="_blank">
              <span class="p-jra-tck-schedule__label--green">JRA</span>
              有馬記念
            </a>
          </dd>
        </div>
        <div class="p-jra-tck-schedule__wrap">
          <dt class="p-jra-tck-schedule__date"><span>12</span>月<span>29</span>日(月)</dt>
          <dd class="p-jra-tck-schedule__btn">
            <a href="https://www.tokyocitykeiba.com/race/grade_race/2025-12-29/" class="p-jra-tck-schedule__link" target="_blank">
              <span class="p-jra-tck-schedule__label--red">TCK</span>
              東京大賞典
            </a>
          </dd>
        </div>
      </dl>
    </section>

    <section class="p-jra-tck-info" id="info">
      <h2 class="p-jra-tck-info__ttl">リアルイベント情報</h2>
      <p class="c-coming-soon-image"><img src="./assets/images/img-comming-soon.png" alt="comming soon"></p>
      <%# <!-- <div class="p-jra-tck-info__box">
        <p class="p-jra-tck-info__pic"><img src="./assets/images/img-info-01.png" alt=""></p>
        <div class="p-jra-tck-info__text-wrap">
          <h3 class="p-jra-tck-info__sub-ttl">JRA×TCK 感動パネル展</h3>
          <p class="p-jra-tck-info__text">
            説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。
          </p>
        </div>
      </div>
      <div class="p-jra-tck-info__box">
        <p class="p-jra-tck-info__pic"><img src="./assets/images/img-info-02.png" alt=""></p>
        <div class="p-jra-tck-info__text-wrap">
          <h3 class="p-jra-tck-info__sub-ttl">JRA×TCK 感動パネル展</h3>
          <p class="p-jra-tck-info__text">
            説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。
          </p>
        </div>
      </div> --> %>
    </section>

    <section class="p-jra-tck-follow" id="follow">
      <h2 class="p-jra-tck-follow__ttl"><img src="./assets/images/img-follow-ttl.png" alt="フォロー＆リポストキャンペーン"></h2>
      <div class="p-jra-tck-follow__heading">
        <p class="p-jra-tck-follow__text">
          TCK公式アカウント<span class="u-font-bold u-color-gold">フォロー</span>と<br>
          当キャンペーンのポストを<span class="u-font-bold u-color-gold">リポスト</span>すると<br>
          <span class="u-color-gold u-font-bold">抽選で<span class="u-font-large">100</span>名様に<span class="u-font-large">1,000</span>円分の</span><br>
          <span class="u-color-gold u-font-bold"><span class="u-font-large">デジコ</span>を<span class="u-font-large">プレゼント!</span></span><br>
        </p>
      </div>
      <div class="p-jra-tck-follow__date">
        <h4 class="p-jra-tck-follow__date-ttl">キャンペーン期間</h4>
        <p class="p-jra-tck-follow__date-ja"><span>日本ダービー</span>：5/29（木）10:00〜6/1（日）23:59</p>
        <p class="p-jra-tck-follow__date-tokyo"><span>東京ダービー</span>：6/8（日）10:00〜6/11（水）23:59</p>
      </div>

      <p class="c-btn--modal"><a href="#modal02" class="js-modal-link"><span>応募規約</span></a></p>
    </section>

    <section class="p-jra-tck-faq" id="faq">
      <h2 class="p-jra-tck-faq__ttl">よくあるご質問</h2>
      <div class="p-jra-tck-faq__accordion">
        <p class="p-jra-tck-faq__accordion-btn js-accordion">キャンペーンの参加方法について教えてください。<span class="p-jra-tck-faq__accordion-cross"></span></p>
        <div class="p-jra-tck-faq__accordion-content js-accordion-content">
          <p class="p-jra-tck-faq__accordion-text">
            <span class="u-color-green">日本ダービー</span>（6/1開催）または<span class="u-color-red">東京ダービー</span>（6/11開催）、あるいは両方のレースで500円以上の馬券を購入し、その投票内容照会画像とともに必要事項をキャンペーンサイト内の応募フォームから送信してください。オンラインでの購入が対象となります。
          </p>
        </div>
      </div>
      <div class="p-jra-tck-faq__accordion">
        <p class="p-jra-tck-faq__accordion-btn js-accordion">どのような馬券画像が応募対象になりますか？<span class="p-jra-tck-faq__accordion-cross"></span></p>
        <div class="p-jra-tck-faq__accordion-content js-accordion-content">
          <p class="p-jra-tck-faq__accordion-text">
            即PAT、SPAT4、UMACAスマートで購入された馬券の投票内容照会画面の画像のみが対象となります。それ以外の方法（窓口や券売機を含む。）で購入された馬券は対象外となりますのでご注意ください。
          </p>
        </div>
      </div>
      <div class="p-jra-tck-faq__accordion">
        <p class="p-jra-tck-faq__accordion-btn js-accordion">当選の発表はどのように行われますか？<span class="p-jra-tck-faq__accordion-cross"></span></p>
        <div class="p-jra-tck-faq__accordion-content js-accordion-content">
          <p class="p-jra-tck-faq__accordion-text">
            キャンペーン期間終了後に抽選を行い、当選者にのみキャンペーン事務局よりメールにて賞品送付のご案内をいたします。応募時に入力されたメールアドレスが無効の場合、ご案内ができませんのでご注意ください。
          </p>
        </div>
      </div>
      <div class="p-jra-tck-faq__accordion">
        <p class="p-jra-tck-faq__accordion-btn js-accordion">複数回応募することはできますか？<span class="p-jra-tck-faq__accordion-cross"></span></p>
        <div class="p-jra-tck-faq__accordion-content js-accordion-content">
          <p class="p-jra-tck-faq__accordion-text">
            同一人物による複数応募は無効となります。お一人様1回のご応募でお願いいたします。各キャンペーン該当レース両方への応募は、1回の応募として扱われ、Wチャンスの抽選対象となります。
          </p>
        </div>
      </div>
      <div class="p-jra-tck-faq__accordion">
        <p class="p-jra-tck-faq__accordion-btn js-accordion">当選した賞品を他の人に譲ることはできますか？<span class="p-jra-tck-faq__accordion-cross"></span></p>
        <div class="p-jra-tck-faq__accordion-content js-accordion-content">
          <p class="p-jra-tck-faq__accordion-text">
            当選の権利を他人に譲渡することはできません。当選者ご本人のみが賞品を受け取ることができます。
          </p>
        </div>
      </div>
    </section>

    <section class="p-jra-tck-digi-co">
      <div class="p-jra-tck-digi-co__inner">
        <h2 class="p-jra-tck-digi-co__ttl"><img src="./assets/images/img-deji-co.png" alt="デジコとは…"></h2>
        <p class="p-jra-tck-digi-co__text">
          PayPayやAmazonギフトカードをはじめ、ポイント交換先サイトのPeXポイントギフトを選ぶと、dポイントや各社マイル・電子マネーなどとも交換できるデジタルギフトです。
        </p>
      </div>
    </section>

    <section class="p-jra-tck-contact" id="contact">
      <div class="p-jra-tck-contact__inner">
        <h2 class="p-jra-tck-contact__ttl">キャンペーンに関する<br>お問い合わせ先</h2>
        <p class="p-jra-tck-contact__sub">
          <span class="u-font-bold u-font-large">#感動をよくばれキャンペーン事務局</span><br>
          （株式会社CARTA MARKETING FIRM 内）
        </p>
        <p class="p-jra-tck-contact__mail"><a href="mailto:tck_jra_campaign@cartahd.com">tck_jra_campaign@cartahd.com</a></p>
        <p class="p-jra-tck-contact__note">
          本キャンペーンは本組合が企画し、株式会社CARTA MARKETING FIRMが主体となって運営しております。<br>
          なお、応募受付の確認、審査に関するお問い合わせについては回答いたしかねます。
        </p>
      </div>
    </section>

    <div class="p-jra-tck-bottom">
      
      <%- include(pagePath + '/component/_user-entry')%>

      <section class="p-jra-tck-watch">
        <h2 class="p-jra-tck-watch__ttl">大井競馬のレース中継を<br>観るならこちら！</h2>
        <p class="p-jra-tck-watch__bnr"><a href="https://www.youtube.com/channel/UCPSZn8iMXln9o89SpmeJ6wg" target="_blank"><img src="./assets/images/bnr/bnr-footer-01.png" alt="ウマきゅん"></a></p>
        <p class="p-jra-tck-watch__bnr"><a href="https://s.mxtv.jp/sports/tck/" target="_blank"><img src="./assets/images/bnr/bnr-footer-02.png" alt="TOKYO MX2で大井競馬場 生中継！"></a></p>
      </section>
      
      <div class="c-footer-btn">
        <p><a href="#top" class="c-footer-btn__link js-anchor"><img src="./assets/images/icon/icon-arrow-03.png" alt="矢印"></a></p>
      </div>
    </div>
  </div>


  <div class="p-jra-tck-right u-nosp">
    <div class="p-jra-tck-right__wrap">
      <nav class="l-nav">
        <ul class="l-nav__list">
          <li class="l-nav__item"><a href="#top" class="l-nav__link js-anchor">TOP</a></li>
          <li class="l-nav__item"><a href="#feature" class="l-nav__link js-anchor is-disabled">東京シティ競馬の魅力とは？</a></li>
          <li class="l-nav__item"><a href="#campaign" class="l-nav__link js-anchor is-disabled">感動をよくばれキャンペーン</a></li>
          <li class="l-nav__item"><a href="#apply" class="l-nav__link js-anchor is-disabled">応募方法</a></li>
          <li class="l-nav__item"><a href="#info" class="l-nav__link js-anchor is-disabled">リアルイベント情報</a></li>
          <li class="l-nav__item"><a href="#follow" class="l-nav__link js-anchor is-disabled">フォロー＆リポストキャンペーン</a></li>
          <li class="l-nav__item"><a href="#faq" class="l-nav__link js-anchor is-disabled">よくあるご質問</a></li>
          <li class="l-nav__item"><a href="#contact" class="l-nav__link js-anchor is-disabled">お問い合わせ</a></li>
        </ul>
        <ul class="l-nav__bnr">
          <li class="l-nav__bnr-item"><a href="https://www.tokyocitykeiba.com/guide/web_tv_radio/" class="l-nav__bnr-link" target="_blank"><img src="./assets/images/bnr/bnr-right-banner-01.png" alt="テレビ・インターネット中継"></a></li>
          <li class="l-nav__bnr-item"><a href="https://www.spat4.jp/keiba/pc" class="l-nav__bnr-link" target="_blank"><img src="./assets/images/bnr/bnr-right-banner-02.png" alt="SPAT4で、毎日がドラマティック"></a></li>
        </ul>
      </nav>
      <p class="p-jra-tck-left__date"><img src="./assets/images/img-text-pc-right.png" alt="6.11 Wed 20:05[JpnI] 東京ダービー"></p>
    </div>

  </div>

  <%- include(pagePath + '/component/_modal01')%>
  <%- include(pagePath + '/component/_modal02')%>

</main>
<%- include(pagePath + '/inc/_footer' , { pagePath: pagePath, pageSlug: pageSlug }) %>