
<%
var metaSiteTitle = '',
metaTitle = pageMeta.title,
metaDescription = pageMeta.description,
metaTwitterDescription = pageMeta.descriptionTwitter,
metaKeywords = pageMeta.keywords;
if (metaTitle == ''){ var metaTitle = '【タイトルを設定してください】' }
if (metaDescription == ''){ var metaDescription = '' }
if (metaKeywords == ''){ var metaKeywords = '' }
%>
<!DOCTYPE html>
<html lang="ja">
<head>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WRLZH4N3');</script>
      <!-- End Google Tag Manager -->
      <!-- // meta -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <!-- // favicon.ico -->
      <link rel="icon" type="image/x-icon" href="./assets/images/favicon.ico">
      <!-- // SEO関連 -->
      <title><%= metaTitle %></title>
      <meta name="description" content="<%= metaDescription %>">
      <meta name="keywords" content="<%= metaKeywords %>">
      <!-- // OGP -->
      <meta property="og:site_name" content="<%= metaTitle %>">
      <meta property="og:title" content="<%= metaTitle %>">
      <meta property="og:description" content="<%= metaTitle %>">
      <meta property="og:type" content="website">
      <meta property="og:url" content="https://jra-tck-collabo-cp2025.com/">
      <meta property="og:image" content="https://jra-tck-collabo-cp2025.com/assets/images/ogp.png">
      <!-- Twitter Cards設定 -->
      <meta name="twitter:title" content="<%= metaTitle %>">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:description" content="<%= metaTwitterDescription %>">
      <meta name="twitter:image" content="https://jra-tck-collabo-cp2025.com/assets/images/ogp.png">
      <!-- // google font -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
      <!-- // css -->
      <link rel="stylesheet" href="/assets/css/swiper-bundle.min.css">
      <link href="/assets/css/style.css" rel="stylesheet">
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRLZH4N3"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <header class="l-header" id="js-header">
      <div class="l-header__logo">
            <a href="https://www.tokyocitykeiba.com" target="_blank">
                  <picture>
                        <source media="(min-width: 769px)" type="image/png" srcset="./assets/images/icon/icon-haeder-logo-pc.svg">
                        <img src="./assets/images/icon/icon-header-logo.png" alt="TCK 東京シティ競馬">
                  </picture>
            </a>
      </div>
      <ul class="l-header__list">
            <li class="l-header__item"><a href="https://www.tokyocitykeiba.com/guide/web_tv_radio/" class="l-header__link" target="_blank"><img src="./assets/images/bnr/bnr-header-01.png" alt="テレビ・インターネット中継"></a></li>
            <li class="l-header__item"><a href="https://www.spat4.jp/keiba/pc" class="l-header__link" target="_blank"><img src="./assets/images/bnr/bnr-header-02.png" alt="SPAT4で、毎日がドラマティック"></a></li>
      </ul>
  </header>