<div class="p-jra-tck-right u-nosp">
  <div class="p-jra-tck-right__wrap">
    <nav class="l-nav">
      <ul class="l-nav__list">
        <li class="l-nav__item"><a href="<%= (pageFlg === 'thanks') ? pagePath + '/index.html' : '' %>#top" class="l-nav__link <%= (pageFlg === 'thanks') ? '' : 'js-anchor' %>">TOP</a></li>
        <li class="l-nav__item"><a href="<%= (pageFlg === 'thanks') ? pagePath + '/index.html' : '' %>#feature" class="l-nav__link <%= (pageFlg === 'thanks') ? '' : 'js-anchor' %> is-disabled">東京シティ競馬の魅力とは？</a></li>
        <li class="l-nav__item"><a href="<%= (pageFlg === 'thanks') ? pagePath + '/index.html' : '' %>#campaign" class="l-nav__link <%= (pageFlg === 'thanks') ? '' : 'js-anchor' %> is-disabled">感動をよくばれキャンペーン</a></li>
        <li class="l-nav__item"><a href="<%= (pageFlg === 'thanks') ? pagePath + '/index.html' : '' %>#apply" class="l-nav__link <%= (pageFlg === 'thanks') ? '' : 'js-anchor' %> is-disabled">応募方法</a></li>
        <li class="l-nav__item"><a href="<%= (pageFlg === 'thanks') ? pagePath + '/index.html' : '' %>#info" class="l-nav__link <%= (pageFlg === 'thanks') ? '' : 'js-anchor' %> is-disabled">リアルイベント情報</a></li>
        <li class="l-nav__item"><a href="<%= (pageFlg === 'thanks') ? pagePath + '/index.html' : '' %>#follow" class="l-nav__link <%= (pageFlg === 'thanks') ? '' : 'js-anchor' %> is-disabled">フォロー＆リポストキャンペーン</a></li>
        <li class="l-nav__item"><a href="<%= (pageFlg === 'thanks') ? pagePath + '/index.html' : '' %>#faq" class="l-nav__link <%= (pageFlg === 'thanks') ? '' : 'js-anchor' %> is-disabled">よくあるご質問</a></li>
        <li class="l-nav__item"><a href="<%= (pageFlg === 'thanks') ? pagePath + '/index.html' : '' %>#contact" class="l-nav__link <%= (pageFlg === 'thanks') ? '' : 'js-anchor' %> is-disabled">お問い合わせ</a></li>
      </ul>
      <ul class="l-nav__bnr">
        <li class="l-nav__bnr-item"><a href="https://www.tokyocitykeiba.com/guide/web_tv_radio/" class="l-nav__bnr-link" target="_blank"><img src="<%= pagePath %>/assets/images/bnr/bnr-right-banner-01.png" alt="テレビ・インターネット中継"></a></li>
        <li class="l-nav__bnr-item"><a href="https://www.spat4.jp/keiba/pc" class="l-nav__bnr-link" target="_blank"><img src="<%= pagePath %>/assets/images/bnr/bnr-right-banner-02.png" alt="SPAT4で、毎日がドラマティック"></a></li>
      </ul>
    </nav>
    <p class="p-jra-tck-left__date"><img src="<%= pagePath %>/assets/images/img-text-pc-right.png" alt="6.11 Wed 20:05[JpnI] 東京ダービー"></p>
  </div>
</div>
